@model Tamin.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <span class="widget-caption">ویرایش اطلاعات کاربر</span>
    </div><!--Widget Header-->
    <div class="widget-body">
        <div class="row">

            @*<div class="col-md-12 padding-10">
                <div class="form-group">
                    <label>نام کاربری</label>
                    
                    <p class="form-control-static" >@Model.UserName</p>
                </div>
            </div>*@
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.UserName)
                    @Html.HiddenFor(x => x.DateOfRegistration)

                    <div class="col-md-12 padding-10">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fullname, new { @class = "control-label col-md-2" })
                            
                                @Html.TextBoxFor(model => model.Fullname, new { @type = "text", @class = "form-control col-md-3", @id = "definput" })
                                @Html.ValidationMessageFor(model => model.Fullname)
                            
                        </div>
                    </div>

                    <div class="col-md-12 padding-10">
                        <div class="form-group">
                            @Html.Label("شماره تماس", new { @class = "control-label col-md-2" })
                            
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @type = "text", @class = "form-control col-md-3", @id = "definput" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                            
                        </div>
                    </div>

                    <div class="col-md-12 padding-10">
                        <div class="form-group">
                            @Html.Label("آدرس ایمیل", new { @class = "control-label col-md-2" })
                            
                                @Html.TextBoxFor(model => model.Email, new { @type = "text", @class = "form-control col-md-3", @id = "definput" })
                                @Html.ValidationMessageFor(model => model.Email)
                           
                        </div>
                    </div>

                    <div class="col-md-12 padding-10">
                        <div class="form-group">
                            @Html.Label("پسورد", new { @class = "control-label col-md-2" })
                           
                                @Html.PasswordFor(model => model.PasswordHash, new { @type = "password", @class = "form-control col-md-3", @name = "password" })
                                @Html.ValidationMessageFor(model => model.PasswordHash)
                            
                        </div>
                    </div>

                        <div id="buttons">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-primary" value="ثبت" />
                               @Html.ActionLink("بازگشت به فهرست", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-danger" })
                            </div>
                        </div>
                        }

                    </div>
    </div>
</div>
         
