@model Tamin.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        ویرایش اطلاعات کاربر
    </header>
    <div class="panel-body">
        <fieldset>
            <div class="form-group">
                <label>نام کاربری</label>
                <p class="form-control-static">@Model.UserName</p>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.UserName)
                @Html.HiddenFor(x => x.DateOfRegistration)
                <div class="form-group">
                    @Html.LabelFor(model => model.Fullname, new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Fullname)
                        @Html.ValidationMessageFor(model => model.Fullname)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("شماره تماس", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("آدرس ایمیل", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("پسورد", new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.PasswordFor(model => model.PasswordHash)
                        @Html.ValidationMessageFor(model => model.PasswordHash)
                    </div>
                </div>

                <div id="buttons">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-primary" value="ثبت" />
                        @Html.ActionLink("بازگشت به فهرست", "Index")
                    </div>
                </div>
            }
        </fieldset>
    </div>
</section>