<!DOCTYPE html>
<html dir="rtl" lang="en-US">
<head>
    <!-- Created by Artisteer v4.3.0.60858 -->
    <meta charset="utf-8">
    <title> تامین اجتماعی -  شعبه شهر صنعتی رشت</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="~/Content/skin/style.css" rel="stylesheet" />
    <!--[if lte IE 7]><link rel="stylesheet" href="style.ie7.css" media="screen" /><![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/skin/style.responsive.css" rel="stylesheet" />
    <link href="~/css_woff/style.css" rel="stylesheet" />

    <link href="~/Content/skin/style1.css" rel="stylesheet" />
    <link href="~/Content/skin/bootstrap-rtl.css" rel="stylesheet" />

    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <style>
        .art-content .art-postcontent-0 .layout-item-0 {
            /*padding-right: 10px;
            padding-left: 10px;*/
        }

        .ie7 .art-post .art-layout-cell {
            border: none !important;
            padding: 0 !important;
        }

        .ie6 .art-post .art-layout-cell {
            border: none !important;
            padding: 0 !important;
        }
    </style>
</head>
<body>
<div id="art-main">
    <header class="art-header">

        <div class="art-shapes">
            <div class="art-object1177263051"></div>
            <div class="art-object1244111640"></div>

        </div>
        <nav class="art-nav">
            <div class="art-nav-inner">
                <ul class="art-hmenu">
                  
                    <li>@Html.ActionLink("خانه", "Index", "Home")</li>
                    <li><a href="#">خدمات الکترونیک شعبه شهر صنعتی</a>
                        <ul>
                            <li><a href="http://tamin1460.ir:1460/login.aspx" target="_blank">ورود به سامانه</a></li>
                            <li><a href="http://tamin1460.ir:1460/portal/regco/start.aspx" target="_blank">ثبت نام کارفرمایان</a></li>
                        </ul>
                    </li>

                    

                    <li><a href="#">خدمات الکترونیک سازمان</a>
                        <ul>
                            <li><a href="http://www.tamin.ir/News/Item/6507/2/6507.html" target="_blank">سامانه فیش حقوقی و احکام افزایش مستمری بگیران </a></li>
                            <li><a href="http://www.tamin.ir/News/Item/6506/2/6506.html" target="_blank">سامانه مشاهده سوابق بیمه شدگان</a></li>
                            <li><a href="http://www.tamin.ir/News/Item/23268/2/23268.html" target="_blank">پرداخت اینترنتی لیست حق بیمه کارفرمایان</a></li>
                        </ul>
                    </li>
                    <li><a href="#">سایت های مرتبط</a>
                        <ul>
                            <li><a href="http://www.tamin.ir" target="_blank">سازمان تأمین اجتماعی </a></li>
                            <li><a href="http://laws.tamin.ir/law/lawsearch.aspx" target="_blank">سامانه جامع قوانین کشوری</a></li>
                        </ul>
                    </li>
                    
                    <li>@Html.ActionLink("تماس با ما", "Contact", "Home")</li>
                    <li>
                        @Html.ActionLink("پرسش‌های متداول", "FAQ", "Home")
                    </li>
                </ul>

            </div>
        </nav>

    </header>
    <div class="art-sheet clearfix">
        <div class="art-pageslider">

            <div class="art-shapes">
            </div>
            <div class="art-slider art-slidecontainerpageslider" data-width="1536" data-height="250">
                <div class="art-slider-inner">
                    <div class="art-slide-item art-slidepageslider0">

                        <div class="art-slidepageslider0-object715538229"></div>

                    </div>
                    <div class="art-slide-item art-slidepageslider1">

                        <div class="art-slidepageslider1-object262115493"></div>
                        <div class="art-textblock art-slidepageslider1-object1497818790">
                            <div class="art-slidepageslider1-object1497818790-text-container">
                                <div class="art-slidepageslider1-object1497818790-text">خدمات الکترونیکی سازمان تأمین اجتماعی<br>
                                    شعبه شهر صنعتی رشت</div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="art-slidenavigator art-slidenavigatorpageslider" data-left="0.5" data-top="1">
                <a href="#" class="art-slidenavigatoritem"></a><a href="#" class="art-slidenavigatoritem"></a>
            </div>


        </div> <!--slider-->
        



        <div class="art-layout-wrapper">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    @Html.Partial("_LastNews") <!--/اخرین خبر-->


                    
                    @RenderBody()



                    <div class="art-layout-cell art-sidebar2">
                        <div class="art-block clearfix" style="float: right;">
                            <div class="art-blockheader">
                                <h5 class="t">جستجو</h5>
                            </div>
                            <div class="art-blockcontent">
                                <div>
                                    <form action="#" class="art-search" method="get" name="searchform">
                                        <input type="text" value="" name="s" />
                                        <input type="submit" value="Search" name="search" class="art-search-button" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        


    <footer class="art-footer">
        <div class="art-footer-inner">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell" style="width: 100%">
                        <p><span style="font-family: Tahoma;">تمامی حقوق این وب سایت نزد سازمان تأمین اجتماعی شهرک صنعتی رشت محفوظ می باشد</span><br>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </footer> <!--footer-->
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>

</div>
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Content/skin/jquery.js"></script>
<script src="~/Content/skin/script.js"></script>
<script src="~/Content/skin/script.responsive.js"></script>
<script src="~/Content/skin/jquery.min.js"></script>
<script src="~/Content/skin/bootstrap.min.js"></script>
<script src="~/Content/skin/bootstrap-rtl.js"></script>
<script src="~/Scripts/jquery.InfiniteScroll.js"></script>
<script src="~/Scripts/main.js"></script>
    @RenderSection("JavaScript",false)
<script>
    $(document).ready(function(){
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        
        $('#back-to-top').tooltip('show');

    });
</script>
</body>
</html>


