@using CaptchaMvc.HtmlHelpers
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("سلام " + User.Identity.GetUserName() + "!", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-success shiny" })
                <a class="btn btn-labeled btn-danger" href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="btn-label fa fa-close"></i>خروج</a>
    }
}
else
{
    <li>@Html.ActionLink("ثبت نام", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <span id="captcha">
        @Html.Captcha("ایجاد یک کد دیگر", "لطفا کد تصویر را وارد نمایید", 4)
    </span>
    <li>@Html.ActionLink("ورود", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
