
@model IList<Tamin.Models.PostGroup>
<div class="col-md-10 right" style="float: right;margin-top: 10px">
<div class="table-responsive">

    <table class="table table-bordered table-striped" >

        <thead>

        <tr>

            <th style="text-align: right">عنوان گروه خبر</th>

            <th style="text-align: right">تصویر</th>

            @*<th>State</th>

                <th>Country</th>*@

            <th></th>

            <th></th>

        </tr>

        </thead>

        <tbody>

        @foreach (var item in Model)

        {

            <tr>

                <td>

                    @Html.DisplayFor(modelItem => item.PostGroupTitle)

                </td>

                <td>

                    @if (!String.IsNullOrEmpty(@item.ImageUrl))
                    {
                        <img style="border-radius: 5px;" width="50" height="50" src="@Url.Content(@item.ImageUrl)" />
                    }

                </td>

                @*<td>

                        @Html.DisplayFor(modelItem => item.PostGroupTitle)

                    </td>

                    <td>

                        @Html.DisplayFor(modelItem => item.PostGroupTitle)

                    </td>*@

                <td>

                    <a href="@Url.Action("Edit", "AdminPostGroups", new { id = item.PostGroupId })" class="editDialog"><i class="fa fa-pencil-square-o"></i>&nbsp;ویرایش</a>

                </td>

                <td>

                    @Ajax.ActionLink("حذف", "Delete", "AdminPostGroups", new { @id = item.PostGroupId }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div-record" }, new { @class = "fa fa-pencil-square-o" })

                </td>

            </tr>

        }

        </tbody>

    </table>

</div>
</div>
<script>

    $(document).ready(function () {

        $('#Add').click(function (event) {

            event.preventDefault();

            $.get(this.href, function (response) {

                $('.divForAdd').html(response);

            });

            $('#Add-Model').modal({

                backdrop: 'static',

            }, 'show');

        });

        $('.editDialog').click(function (event) {

            event.preventDefault();

            $.get(this.href, function (response) {

                $('.divForUpdate').html(response);

            });

            $('#Edit-Model').modal({

                backdrop: 'static',

            }, 'show');

        });

    });

</script>


