
@model Tamin.Models.PostGroup

@using (Ajax.BeginForm("Add", "AdminPostGroups", new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "div-record",
    OnSuccess = "$('.close').click()"
}, new { @id = "form_UploadFile", @enctype = "multipart/form-data" }))

{

    <div class="modal-body">

        <div class="row form-group">

            <div class="col-md-12">

                <div class="input-group">



                    @Html.TextBoxFor(m => m.PostGroupTitle, new { @class = "form-control", @placeholder = "عنوان گروه خبر" })

                </div>

            </div>

        </div>

        <div class="row form-group">

                <div class="col-md-12">

                    <div class="input-group">

                        <div class="form-group">

                            <div class="col-md-10">
                                @Html.DropDownList("ParentId", "-- والد گروه خبر را انتخاب کنید --")
                                @Html.ValidationMessageFor(model => model.ParentId)
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        <br />

        <div class="row form-group">

            <div class="col-md-12">

                <div class="input-group">



                    @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-4 right" })
                    <br />
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ImageUrl)
                        @Html.ValidationMessageFor(model => model.ImageUrl)

                    </div>

                </div>

            </div>
        </div>


    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="cmd"><i class="fa fa-check"></i>&nbsp;ذخیره</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;بستن</button>
    </div>

}