@model Tamin.Models.PostGroup

@{
    ViewBag.Title = "جزئیات ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>جزئیات</h2>

<fieldset>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Parent.PostGroupTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parent.PostGroupTitle)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PostGroupTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostGroupTitle)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>

</fieldset>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.PostGroupID }) |
    @Html.ActionLink("بازگشت به فهرست", "Index")
</p>
