@model Tamin.Models.PostGroup
@{

    //ViewBag.Title = "ADD";
    //Layout = Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    //Layout = Layout = "~/Views/Shared/_LayoutAdmin - Copy.cshtml";
    //modal - backdrop
    Layout = null;
}
@using (Ajax.BeginForm("Edit", "AdminPostGroups", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))

{

    @Html.HiddenFor(m => m.PostGroupId)

    <div class="modal-body">

        <div class="row form-group">

            <div class="col-md-12">

                <div class="input-group">

                    <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>

                    @Html.TextBoxFor(m => m.PostGroupTitle, new { @class = "form-control", @placeholder = "Username" })

                </div>

            </div>

        </div>

        @*<div class="row form-group">

                <div class="col-md-12">

                    <div class="input-group">

                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>

                        @Html.TextBoxFor(m => m.PostGroupTitle, new { @class = "form-control", @placeholder = "Age" })

                    </div>

                </div>

            </div>

            <div class="row form-group">

                <div class="col-md-12">

                    <div class="input-group">

                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>

                        @Html.TextBoxFor(m => m.PostGroupTitle, new { @class = "form-control", @placeholder = "State" })

                    </div>

                </div>

            </div>

            <div class="row form-group">

                <div class="col-md-12">

                    <div class="input-group">

                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>

                        @Html.TextBoxFor(m => m.PostGroupTitle, new { @class = "form-control", @placeholder = "Country" })

                    </div>

                </div>

            </div>*@

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="cmd"><i class="fa fa-check"></i>&nbsp;ذخیره</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;بستن</button>
    </div>

}

