@model Tamin.Models.PostGroup

@using (Ajax.BeginForm("Edit", "AdminPostGroups", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div-record", OnSuccess = "$('.close').click()" }))

{

    @Html.HiddenFor(m => m.PostGroupId)

    <div class="modal-body">

        <div class="row form-group">

            <div class="col-md-12">

                <div class="input-group">

                    <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>

                    @Html.TextBoxFor(m => m.PostGroupTitle, new { @class = "form-control", @placeholder = "Username" })

                </div>

            </div>

        </div>


        <br />

        <div class="row form-group">

            <div class="col-md-12">

                <div class="input-group">



                    @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-4 right" })
                    <br />
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ImageUrl)
                        @Html.ValidationMessageFor(model => model.ImageUrl)

                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" name="cmd"><i class="fa fa-check"></i>&nbsp;ذخیره</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;بستن</button>
    </div>

}

