@model Tamin.Models.PostGroup
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <span class="widget-caption">ویرایش گروه خبر</span>
    </div><!--Widget Header-->
    <div class="widget-body">
        <div class="row">
            @using (Html.BeginForm("Edit", "AdminPostGroups", FormMethod.Post, new { @id = "form_UploadFile", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="col-md-12 padding-10">
                    <div class="form-group">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                </div>
                   
                        @Html.HiddenFor(model => model.PostGroupId)
                <div class="col-md-12 padding-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ParentId, "والد گروه محصول", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ParentId", "-- والد گروه محصول را انتخاب کنید --")
                            @Html.ValidationMessageFor(model => model.ParentId)
                        </div>
                    </div>
                </div>

                <div class="col-md-12 padding-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PostGroupTitle, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.PostGroupTitle, new { @type = "text", @class = "form-control col-md-3", @id = "definput" })
                            @Html.ValidationMessageFor(model => model.PostGroupTitle)
                        </div>
                    </div>
                </div>

                <div class="col-md-12 padding-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ImageUrl)
                            @Html.ValidationMessageFor(model => model.ImageUrl)
                        </div>
                    </div>
                </div>
                <div class="col-md-12 padding-10">
                    <div id="buttons">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-primary" value="ثبت" />
                            @Html.ActionLink("بازگشت به فهرست", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>


            }
                </div>
    </div>
</div>
        
