@{

    ViewBag.Title = "Index";
    Layout = Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    //Layout = null;
}



<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

<link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" />

<link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")"></script>

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>



<div id="main-div">

    <div class="clearfix">&nbsp;</div>

    <div class="clearfix">&nbsp;</div>

    <div class="container">

        <a href="@Url.Action("Add", "AdminPostGroups")" id="Add" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;ایجاد گروه خبر</a>

        <div id="div-record">

            @Html.Partial("_Detail")

        </div>

    </div>





    <div class="modal fade" id="Add-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h4 class="modal-title">گروه خبر</h4>

                </div>

                <div class="divForAdd">

                </div>

            </div>

        </div>

    </div>



    <div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h4 class="modal-title">بروز رسانی</h4>

                </div>

                <div class="divForUpdate">

                </div>

            </div>

        </div>

    </div>

</div>

