@using System.Web.UI.WebControls.WebParts
@model IEnumerable<Tamin.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="panel">
    <header class="panel-heading">
        فهرست خبرها
        <span class="tools pull-left">
            <a class="fa fa-chevron-down" href="javascript:;"></a>
        </span>
    </header>
    
    
    <div class="panel-body">
        <div class="adv-table editable-table">
            <div class="clearfix">
                <div class="btn-group">
                    @Html.ActionLink("ایجاد", "Create", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
        <div class="space15"></div>
        <table class="table editable-table table-hover table-bordered" id="editable-sample">
            <thead>
            <tr>

                <th>
                    @Html.DisplayName("عنوان خبر")                

                </th>
                <th>
                    @Html.DisplayName("نویسنده")                
                </th>
                <th>
                    @Html.DisplayName("زمان ایجاد خبر")
                </th>                
                <th>
                    @Html.DisplayName("تصویر خبر")
                </th>

                <th>@Html.DisplayName("دستورات")</th>
            </tr>
            </thead>
            <tbody>
            @if (!Model.Any())
            {
                <tr><td colspan="8" class="text-center">هیچ داده ای جهت نمایش وجود ندارد</td></tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr class="">


                        <td>
                            @Html.DisplayFor(modelItem => item.PostTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationUser.Fullname)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PostDate)
                        </td>
                        <td>
                           
                                @if (!String.IsNullOrEmpty(@item.ImageUrl))
                                {
                                    <img style="border-radius: 5px;" width="50" height="50" src="@Url.Content(@item.ImageUrl)" />
                                }
                            
                        </td>
                        <td>


                                @Html.ActionLink("ویرایش", "Edit", new { id = item.PostID }, new { @class = "btn btn-primary btn-xs" })

                                @Html.ActionLink("حذف", "Delete", new { id = item.PostID }, new { @class = "btn btn-danger btn-xs" })

                            
                        </td>
                    </tr>
                }
            }
                
            </tbody>
        </table>
    </div>
</section>
