@model Tamin.Models.Comment
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="widget">
    <div class="widget-header">
        <span class="widget-caption">ویرایش کامنت</span>
    </div>
    <div class="widget-body">
        <div class="row">
            @using (Html.BeginForm("Edit", "AdminComments", FormMethod.Post, new { @id = "form_UploadFile", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="col-md-12 padding-10">
                    <div class="form-group">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                </div>
               
                    <div class="col-md-12 padding-10">
                        @Html.HiddenFor(model => model.Comment_ID)

                        @if (Model.PostID != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.PostID, "عنوان صفحه", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("PostID", "--عنوان صفحه را انتخاب کنید--" )
                                    @Html.ValidationMessageFor(model => model.PostID)
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-md-12 padding-10">
                        @if (Model.Parent_ID != null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Parent_ID, "والد نظر", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Parent_ID", "--کامنت والد را انتخاب کنید--")
                                    @Html.ValidationMessageFor(model => model.Parent_ID)
                                </div>
                            </div>
                        }
                    </div>

                    <div class="col-md-12 padding-10">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Comment_Date, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Comment_Date, @*new { htmlAttributes =*@ new { @type = "text", @class = "form-control col-md-3", @id = "definput" @*}*@ })
                                @Html.ValidationMessageFor(model => model.Comment_Date)
                            </div>
                        </div>
                    </div>

                        <div class="col-md-12 padding-10">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CommentIsActive, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.PostIsActive)*@
                                    @*<label class="pull-right">
                                        @Html.EditorFor(model => model.CommentIsActive, new { @class = "checkbox", @type = "checkbox" })
                                        <span class="text"></span>
                                    </label>*@
                                    <div class="col-xs-4">
                                        @Html.CheckBoxFor(model => model.CommentIsActive, new { @class = "checkbox-slider slider-icon colored-blue", @type = "checkbox" })
                                        <span class="text"></span>
                                    </div>
                                    @*@Html.ValidationMessageFor(model => model.CommentIsActive)*@

                                    @Html.CheckBoxFor(model => model.CommentIsActive)
                                    @Html.CheckBox("CommentIsActive", true)

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 padding-10">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Author, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Author, new { @type = "text", @class = "form-control col-md-3", @id = "definput" })
                                    @Html.ValidationMessageFor(model => model.Author)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 padding-10">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Comment_title, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Comment_title, new { @type = "text", @class = "form-control col-md-3", @id = "definput" })
                                    @Html.ValidationMessageFor(model => model.Comment_title)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 padding-10">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Author_Email, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Author_Email, new { @type = "text", @class = "form-control col-md-3", @id = "definput" })
                                    @Html.ValidationMessageFor(model => model.Author_Email)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 padding-10">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CommentContent, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.CommentContent, new { @type = "text", @class = "form-control col-md-12", @id = "definput" })
                                    @Html.ValidationMessageFor(model => model.CommentContent)

                                </div>
                            </div>
                        </div>

                            <div id="buttons">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-10">
                                    <input type="submit" class="btn btn-primary" value="ثبت" />
                                    @Html.ActionLink("بازگشت به فهرست", "Index")
                                </div>
                            </div>





                            }
                        </div>
    </div>
</div>
